@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: oklch(0.9800 0 0);;
  --color-foreground: oklch(0.1000 0 0);;
  --color-card: oklch(0.9900 0 0);
  --color-card-foreground: oklch(0.2000 0 0);
  --color-popover: oklch(0.9900 0 0);
  --color-popover-foreground: oklch(0.2000 0 0);
  --color-primary: oklch(0.7176 0.1843 233.3100);
  --color-primary-foreground: oklch(0.9800 0 0);
  --color-secondary: oklch(0.8595 0.1961 196.1800);
  --color-secondary-foreground: oklch(0.2350 0 0);
  --color-muted: oklch(0.9700 0 0);
  --color-muted-foreground: oklch(0.4 0 0);
  --color-accent: oklch(0.8595 0.2364 166.5300);
  --color-accent-foreground: oklch(0.2350 0 0);
  --color-destructive: oklch(0.5770 0.2450 27.3250);
  --color-destructive-foreground: oklch(0.9900 0 0);
  --color-border: oklch(0.9220 0 0);
  --color-input: oklch(0.9220 0 0);
  --color-sidebar-ring: oklch(0.7080 0 0);
  --color-chart-1: oklch(0.8100 0.1000 252);
  --color-chart-2: oklch(0.6200 0.1900 260);
  --color-chart-3: oklch(0.5500 0.2200 263);
  --color-chart-4: oklch(0.4900 0.2200 264);
  --color-chart-5: oklch(0.4200 0.1800 266);
  --color-ring: oklch(0.7080 0 0);

  --color-sidebar: oklch(0.9850 0 0);
  --color-sidebar-foreground: oklch(0.2000 0 0);
  --color-sidebar-primary: oklch(0.7176 0.1843 233.3100);
  --color-sidebar-primary-foreground: oklch(0.9850 0 0);
  --color-sidebar-accent: oklch(0.8595 0.2364 166.5300);
  --color-sidebar-accent-foreground: oklch(0.2350 0 0);
  --color-sidebar-border: oklch(0.9220 0 0);

  --font-mono: ui-monospace, monospace;
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, serif;

  --radius-lg: var(--radius);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow: var(--shadow);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --radius: 0.3rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: oklch(0.7176 0.1843 233.31);
  --shadow-2xs: 0 1px 5px 0px hsl(194.2610 185.2856% 35.6289% / 0.10);
  --shadow-xs: 0 1px 5px 0px hsl(194.2610 185.2856% 35.6289% / 0.10);
  --shadow-sm: 0 1px 5px 0px hsl(194.2610 185.2856% 35.6289% / 0.20), 0 1px 2px -1px hsl(194.2610 185.2856% 35.6289% / 0.20);
  --shadow: 0 1px 5px 0px hsl(194.2610 185.2856% 35.6289% / 0.20), 0 1px 2px -1px hsl(194.2610 185.2856% 35.6289% / 0.20);
  --shadow-md: 0 1px 5px 0px hsl(194.2610 185.2856% 35.6289% / 0.20), 0 2px 4px -1px hsl(194.2610 185.2856% 35.6289% / 0.20);
  --shadow-lg: 0 1px 5px 0px hsl(194.2610 185.2856% 35.6289% / 0.20), 0 4px 6px -1px hsl(194.2610 185.2856% 35.6289% / 0.20);
  --shadow-xl: 0 1px 5px 0px hsl(194.2610 185.2856% 35.6289% / 0.20), 0 8px 10px -1px hsl(194.2610 185.2856% 35.6289% / 0.20);
  --shadow-2xl: 0 1px 5px 0px hsl(194.2610 185.2856% 35.6289% / 0.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}